Write a Python function to accept a string value from the user and display the
count of each character in that string. Sample input: Enter a string value:
assembly Sample output: a=1, s=2, e=1, m=1, b=1, l=1, y=1?

In [5]:
def accept(string):
  for x in string:
    print(x)

In [8]:
x = int(input('enter string value:'))
accept(x)

enter string value:2

TypeError: 'int' object is not iterable

2Write a Python function to find the maximum of three numbers Sample input:
34,12,7 Sample output: 34 ?

In [76]:
def maximum_of_three_num(a,b,c):
  if a>b and a>c:
    return a
  if b>a and b>c:
    return b
  else:
    return c
a = int(input('Enter the first number: '))
b = int(input('Enter the second number: '))
c = int(input('Enter the third number: '))
max= maximum_of_three_num(a,b,c)
print('The maximum of the three numbers is:', max)

Enter the first number: 8
Enter the second number: 9
Enter the third number: 4
The maximum of the three numbers is: 9

3. Write a Python function called exponent(base,exp) that returns an integer
value of base raises to the power of exp. Sample input: Enter the base: 2
Enter the exponent: 3 Sample output: 8 ?

In [125]:
def exponent(base,exp):
  result= base**exp
  print('output is:',result)

exp =  int(input('Enter the exp:'))
base = int(input('Enter the base:'))
exponent(base,exp)

Enter the exp:3
Enter the base:2
output is: 8

4. Write a Python function that takes a positive integer and returns the sum of
the cube of all the positive integers smaller than the specified number.
Sample input: 4 Sample output: 36. ?

In [126]:
import math
def cube(x):
  at=0
  for i in range(1,x):
    at=at+i**3

  print(at)

a=int(input('enter the number'))
if a<0:
  print('enter  a positive number')
else:
  cube(a)

enter the number4
36

5. Write a Python program which iterates from 1 to 10. For multiples of 2, print
“Fizz” instead of the number and for the multiples of 5, print “Buzz”. For
numbers which are multiples of both 2 and 5, print “FizzBuzz”. Sample input:
numbers from 1 to 10 Sample output: 1 Fizz 3 Fizz Buzz Fizz 7 Fizz 9
FizzBuzz ?

In [124]:
def iterates(n,i)
 for n>i:
  return n:
 for i>n:
  return i:

SyntaxError: expected ':' (<ipython-input-124-e32c34d32ad5>, line 1)

6. Write a Python function to find the most frequent item in a list of numbers.
Sample input: 2, 3, 4, 2, 5, 2 Sample output: 2 ?

In [93]:
def frequent(frq):
    for frq
    print (frequent(frq))
    else(frq)
        n1=input('Enter the first number')
        n2=input('Enter the second number')
        n3=input('Enter the third number')
        n4=input('Enter the fourth number')
        n5=input('Enter the fifth number')
        print(frq)

SyntaxError: invalid syntax (<ipython-input-93-2424fbe209f3>, line 2)

7. Write a Python function to find the sum of squares of the numbers in a list.
Sample input: 2,1,3,1 Sample output: 15 ?

In [141]:
def sqr_list(x):
  a=0
  for i in x:
    a=a+i**2
  print(a)

a=[1,2,1,3]
sqr_list(a)

15

8. Write a Python program using for loop that will iterate from 1 to 15. For each
iteration, check if the current number is odd or even, and display the message
to the screen as odd or even. Sample input: 1….15 Sample output: 1-odd 2-
even …. 15-odd ?

In [145]:
for x in range(1,15):
  if x % 2 == 0:
    print(f"even",x)
  else:
    print(f"odd",x)

odd 1
even 2
odd 3
even 4
odd 5
even 6
odd 7
even 8
odd 9
even 10
odd 11
even 12
odd 13
even 14

9. Write a Python function to convert temperatures to and from Celsius
Fahrenheit. [Formula: c/5=f-32/9 where c=temperature in Celsius and f=
temperature in Fahrenheit.] Sample input: Temperature in Fahrenheit =41
Sample output: Temperature in Celsius =5 ?

In [83]:
def convert_temp_to_fahrenheit(fahrenheit):
  celsius = (fahrenheit-32)/9*5
  print('Temperature in Celsius:',celsius)
fahrenheit = int(input('Temperature in Fahrenheit: '))
convert_temp_to_fahrenheit(fahrenheit)

Temperature in Fahrenheit: 41
Temperature in Celsius: 5.0

10.Write a Python function to calculate the factorial of a number (a nonnegative
integer). The function accepts the number as an argument. Sample input: 3
Sample output: 6?

In [48]:
def factorial(n):
  if n == 0:
    return 1
  else:
    return n * factorial(n-1)
n = int(input('Enter a nonnegative integer:'))
result = factorial(n)
print(f'The factorial of number is:',result)

Enter a nonnegative integer:3
The factorial of number is: 6

11.Case Study: Grade Calculator
In this case study, you have to create a program that calculates the final
grade for a student based on their scores in different assessments. The
program will take input from the user, perform calculations, and display the
final grade along with additional information.
Requirements:
1. The program should prompt the user to enter the following information:
• Student's name
• Number of assessments (e.g., assignments, quizzes, exams)
• Weight (percentage) of each assessment type
2. For each assessment type, the program should ask the user to enter:
• Number of assessments of that type
• Score obtained for each assessment.
3. The program should calculate the weighted average score for each
assessment type.
4. The program should then calculate the final grade using the weighted
average scores and the weights provided by the user.
5. The program should display the following information:
• Student's name
• Weighted average score for each assessment type
• Final grade
• Letter grade based on a grading scale (e.g., A, B, C, D, F)
6. The program should have a function to determine the letter grade based
on the final grade.